@charset "UTF-8";
body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:large;
}
#wrapper .navbar.navbar-default {
	font-weight: bolder;
}
.navbar, .navbar-default{/*other links on navbar*/
	padding: 3% 5% 0% 5%;
	border-width: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
}
/*twbscolor generated code//////////////////////////////////////////////*/
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #545454;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #0BD6FF;
}
.navbar-default .navbar-text {
  color: #545454;
}
.navbar-default .navbar-nav > li > a {
  color: #545454;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0BD6FF;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #545454;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #0BD6FF;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #0BD6FF;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0BD6FF;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #0BD6FF;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #545454;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #545454;
}
.navbar-default .navbar-link {
  color: #545454;
}
.navbar-default .navbar-link:hover {
  color: #0BD6FF;
}
.navbar-brand {
	background-image: url(../images/icon_bgwt-day-01.svg);
	background-repeat: no-repeat;
	background-size: 50px auto;
	padding-left: 60px;
	color: #0BD6FF;
}


/*There is a problem with the YebaiZhao default color above*/

#heroimage{
	position: relative;
}
#heroimage h1 {
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;	
}



/*//////////////////////////////////////////////////////*/
/*
#headermain{ 
	color: #007DCD;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,  
#headermain:hover, 
.nav.navbar-nav .active a:hover{
	color: #0BD6FF;
	background-color: white;
}
.nav.navbar-nav .active a{
	color: #007DCD;
	background-color: white;
}
*/


#main {
	width: 90%;
	max-width: 991px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	text-align:center;
}


#footer {
	margin-top: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: small;
}
.image-fill {
	width: 100%;
}
#wrapper {
	padding: 0 0 0 0;
}
.thumbnail .caption h3 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: large;
}

.thumbnail a{
	text-decoration: none;
} 	
.thumbnail a .caption:hover{
	text-decoration: none;
	color: #007DCD;
}








@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #545454;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0BD6FF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0BD6FF;
    background-color: #ffffff;
  }
 
#heroimage h1 {
	font-size: 2em;
}
}


@media (min-width:768px) and (max-height:1199px){
#heroimage h1 {
	font-size: 2.5 em;
}
}

@media (min-width:1200px){
	#heroimage h1 {
	font-size: 3em;
}
}

