@charset "UTF-8";
body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:large;
}
#wrapper .navbar.navbar-default {
	font-weight: bolder;
}
.navbar, .navbar-default{/*other links on navbar*/
	padding: 3% 5% 0% 5%;
	border-width: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
}
#headermain{ /*only the top left Yebai Zhao*/
	color: #007DCD;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,  
#headermain:hover, 
.nav.navbar-nav .active a:hover{/*other links on navbar's hover*/
	color: #0BD6FF;
	background-color: white;
}
.nav.navbar-nav .active a{
	color: #007DCD;
	background-color: white;
}


#main {
	width: 90%;
	max-width: 991px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	text-align:center;
}

#headphoto{
	width: 100%;
	height: 5em;
	text-align: center;
	background-image: url(../images/whiteface_full.jpg);
	background-size: 15em;

}

#footer {
	margin-top: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: small;
}
.image-fill {
	width: 100%;
}
#wrapper {
	padding: 0 0 0 0;
}

	

