@charset "UTF-8";
body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:large;
}
#wrapper {
	padding: 0 0 0 0;
}
#wrapper .navbar.navbar-default {
	font-weight: bolder;
}
.navbar, .navbar-default{/*other links on navbar*/
	padding: 1% 5% 0% 5%;
	border-width: 0px;
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	z-index: 1;
}


/*twbscolor generated code//////////////////////////////////////////////*/
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #545454;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #0BD6FF;
}
.navbar-default .navbar-text {
  color: #545454;
}
.navbar-default .navbar-nav > li > a {
  color: #545454;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0BD6FF;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #545454;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #0BD6FF;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #0BD6FF;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0BD6FF;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #0BD6FF;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #545454;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #545454;
}

.navbar-default .navbar-link {
  color: #545454;
}
.navbar-default .navbar-link:hover {
  color: #0BD6FF;
}
.navbar-brand {
	background-image: url(../images/icons/icon.svg);
	background-repeat: no-repeat;
	background-size: 50px auto;
	padding-left: 60px;
	color: #0BD6FF;
}




#heroimage{
	position: relative;
}
#heroimage h1 {
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;	
}


#main {
	width: 90%;
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	text-align:center;
}
#main h3 {
	font-size: xx-large;
}
#main h2  {
	font-weight: bold;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 2em;
	color: #613FBB;
}
#main .caption h3 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	color: #007DCD;
	font-size: large;
}
#main p {
	font-size: 1.1em;
	text-align: left;	
}

#main hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
#main .thumbnail {
	border-radius: 0px;
	padding: 2px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
}
#main .thumbnail a{
	text-decoration: none;
	font-size: small;
} 	
#main .thumbnail a h3:hover, #main .thumbnail a p:hover{
	text-decoration: none;
	color: #05a9e6;
}
#footer {
	margin-top: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: small;
}
.image-fill {
	width: 100%;
}

#main .projectHeader {
	text-align: left;
}
#main .wborder {
	padding: 2%;
	border: thin solid #F0F0F0;
	
}
/*Articles use Serif font*/
#main #articleStyle,  #main #articheStyle h1, #main #articleStyle h2{
	font-family:Georgia, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: left;
	
}
#friends{
	text-align: left;
}
#articleStyle .row #articleSide {
	border: thin solid #F3F3F3;
}










@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #545454;
  }


  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #0BD6FF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #0BD6FF;
    background-color: #ffffff;
  }
 
#heroimage h1 {
	font-size: 2em;
}
}


@media (min-width:768px) and (max-height:1199px){
#heroimage h1 {
	font-size: 2.5 em;
}
}

@media (min-width:1200px){
	#heroimage h1 {
	font-size: 3em;
}
}

  .affix {
      width: 100%;
  }
  .affix + .container-fluid {
      padding-top: 70px;
  }
